@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-height: 750px) {
  .signup {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cont {
    height: 68vh;
  }
}
@media only screen and (max-height: 700px) {
  .signup {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .cont {
    height: 75vh;
  }
}

@media only screen and (max-height: 600px) {
  .signup {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cont {
    height: 85vh;
  }
}